<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
</head>
<body class="bg-dark">
<header><br><br></header>
<h1 class="text-center text-white bg-dark">CLIENTE</h1>
<br><br>

<div class="container">
    <div class="card">
        <div class="card-header text-center bg-dark text-white">
            Detalles del CLIENTE
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="'Nombre del cliente: ' + ${cliente.nombre}"></h5>
            <p class="card-text" th:text="'Cedula del cliente: ' + ${cliente.cedula} + ''"></p>
            <p class="card-text" th:text="'Direccion del cliente: ' + ${cliente.direccion} + ''"></p>
            <p class="text-justify"><b>Descripcion: </b>Este Cliente pertenece a nuestra tienda virtual.</p>
            <a th:href="@{/cliente/lista}" class="btn btn-outline-danger">
                <i class="fas fa-arrow-circle-left"></i> Volver
            </a>
        </div>
    </div>
</div>

<footer th:insert="fragments :: footer"></footer>
<div th:insert="fragments :: scripts"></div>
</body>
</html>