<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
</head>
<body class="bg-dark">
	<header>
		<br> <br>
	</header>
	<img class="rounded mx-auto d-block"
		src="https://www.damos.co/mediateca/onlineshopping_damos.gif"
		alt="Card image cap" width="15%" height="15%" />
	<br>
	<h1 class="text-center text-white bg-dark">PRODUCTOS</h1>
	<br>
	<div class="container">
		<div>
			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/producto/nuevo}">
				<button class="btn btn-outline-success">
					<i class="fas fa-plus-circle"></i> Nuevo Producto
				</button>
			</a> <a th:href="@{/}">
				<button type="button" th:href="@{/}" class="btn btn-outline-danger">
					<i class="fas fa-reply-all"></i> Volver al menu
				</button>
			</a>
		</div>
		<br>
		<table class="table table-striped table-white text-center text-white">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Precio</th>
					<th scope="col">Ver</th>
					<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
					<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto: ${productos}">
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.precio}"></td>
					<td><a th:href="@{'/producto/detalle/' + ${producto.id}}"><button
								class="btn btn-outline-primary">
								<i class="far fa-eye"></i>
							</button></a></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{'/producto/editar/' + ${producto.id}}"><button
								class="btn btn-outline-warning">
								<i class="far fa-edit"></i>
							</button></a></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{'/producto/borrar/' + ${producto.id}}"><button
								class="btn btn-outline-danger">
								<i class="far fa-trash-alt"></i>
							</button></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br><br>
	<footer th:insert="fragments :: footer"></footer>
	<div th:insert="fragments :: scripts"></div>
</body>
</html>