<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerfiles">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body class="bg-dark">
    <div class="container ">
        <header th:insert="fragments :: nav"></header>
        <img class="rounded mx-auto d-block" src="https://tiendacerca.com/static/assets/market/shop-red.gif" alt="Card image cap" width="30%" height="30%" />
    </div>
    <div class="container ">
        <div class="jumbotron">
            <h1 class="display-4" sec:authorize="!isAuthenticated()">Bienvenido
                a nuestra Tienda virtual</h1>
            <h1 class="display-4" sec:authorize="isAuthenticated()">
                Bienvenido <span sec:authentication="name"></span>
                <p class="lead">Por favor Inicie su gestion</p>
                <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                        <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
                    </button>
                </form>
            </h1>
            <h1 class="display-4" sec:authorize="!isAuthenticated()">
                <p class="lead">Nos complase gratamente tu visita</p>
            </h1>
            <hr class="my-4">
            <a th:href="@{/login}" sec:authorize="!isAuthenticated()"><button class="btn btn-primary my-2 my-sm-0" type="submit">
                    <i class="fas fa-sign-in-alt"></i> Iniciar Sesion
                </button></a>
        </div>
    </div>

    <footer th:insert="fragments :: footer"></footer>
    <div th:insert="fragments :: scripts"></div>
</body>

</html>